@font-face {
	font-family: 'ComicSansMS';
	src: url('assets/fonts/comicsans.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/comicsans.ttf')  format('truetype');
}
* {
	font-family: 'ComicSansMS';
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	color: white;
	position: fixed;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
}
#loading {
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	background-image: url('assets/ui/loading.png');
	background-position: center;
	background-repeat: no-repeat;
}
audio {
	display: none;
}
html, body {
	background-image: url('assets/sprBlock.png');
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.flipV {
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipY;
	-ms-filter: "FlipY";
}
.flipH {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipX;
	-ms-filter: "FlipX";
}
.rotateMinusNineteen {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=0,M12=1,M21=-1,M22=0); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand',M11=0,M12=1,M21=-1,M22=0)"; /* IE8 */
}